# dependencies
node_modules/

# next.js
.next/
out/

# environment variables
.env.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# misc
.vercel/
